<kendo-mobile-view k-transition="'slide'">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-button k-align="'left'" href="#:back"><i class="ck-icon ck-barrow"></i></kendo-mobile-button>
            <kendo-view-title>Contact Us</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <kendo-mobile-list-view class="ck-grey-wrap ck-no-border">
            <li class="ck-no-pad">
                <kendo-mobile-button-group class="ck-group-full" k-id="buttongroup-home" k-data-show="mobileSalesViewInit">
                    <kendo-mobile-button class="km-state-active">United States</kendo-mobile-button>
                    <kendo-mobile-button>Europe</kendo-mobile-button>
                    <kendo-mobile-button>Asia</kendo-mobile-button>
                </kendo-mobile-button-group>
            </li>
            <li class="ck-center-li">
                <i></i>
                <kendo-mobile-button class="km-primary km-large" style="width:90%;">Write Email</kendo-mobile-button>
            </li>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-id="'collapsible'" k-collapsed="'false'" k-on-expand="OpenExpand()">
                <h4>Checkpoint Systems
                    Corporate Headquarters USA</h4>
                <table class="match-details">
                    <tr>
                        <td>
                            <h4 class="km-bold-font">Address:</h4>
                            <p>
                                101 Wolf Dr.</br>
                                P.O. Box 188</br>
                                Thorofare, NJ 08086
                            </p>
                            <h4 class="km-bold-font"> Phone:</h4>
                            <p>
                                +1 (800) 257-5540</br>
                                +1 (856) 848-1800
                            </p>
                            <h4 class="km-bold-font">Fax:</h4>
                            <p>+1 (856) 848-0937</p>
                            <h4 class="km-bold-font"> E-Mail:</h4>
                            <p><a href="mailto:checknet@checkpt.com">Checknet@checkpt.com</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()">
                <h4>Checknet Order Information/Order Status</h4>
                <table class="match-details">
                    <tr>
                        <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin nunc, ut auctor lectus scelerisque id. Duis semper, dui non iaculis placerat, enim orci venenatis enim, a laoreet turpis tellus a nulla. Suspendisse nec mi mattis, hendrerit magna eget, convallis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla luctus hendrerit pellentesque. Aliquam dictum sodales velit eget hendrerit. Ut diam dui, maximus id nisi et, mattis condimentum nunc. Phasellus sollicitudin scelerisque lacus non placerat.</p>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()">
                <h4>Credit & Collections Department</h4>
                <table class="match-details">
                    <tr>
                        <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin nunc, ut auctor lectus scelerisque id. Duis semper, dui non iaculis placerat, enim orci venenatis enim, a laoreet turpis tellus a nulla. Suspendisse nec mi mattis, hendrerit magna eget, convallis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla luctus hendrerit pellentesque. Aliquam dictum sodales velit eget hendrerit. Ut diam dui, maximus id nisi et, mattis condimentum nunc. Phasellus sollicitudin scelerisque lacus non placerat.</p>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()">
                <h4>Help Desk</h4>
                <table class="match-details">
                    <tr>
                        <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin nunc, ut auctor lectus scelerisque id. Duis semper, dui non iaculis placerat, enim orci venenatis enim, a laoreet turpis tellus a nulla. Suspendisse nec mi mattis, hendrerit magna eget, convallis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla luctus hendrerit pellentesque. Aliquam dictum sodales velit eget hendrerit. Ut diam dui, maximus id nisi et, mattis condimentum nunc. Phasellus sollicitudin scelerisque lacus non placerat.</p>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
        </kendo-mobile-list-view>
    </kendo-mobile-content>
</kendo-mobile-view>