<kendo-mobile-view  k-transition="'slide'">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
             <kendo-mobile-button k-align="'left'" href="#:back"><i class="ck-icon ck-barrow"></i></kendo-mobile-button>
            <kendo-view-title>Feedback</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <kendo-mobile-list-view k-style="'inset'" class="ck-drkgrey-wrap ck-no-border">
            <li> 
              <fieldset>
                    <textarea placeholder="Have something to share? Let us know here" style="height: 150px;"></textarea>
                </fieldset>
            </li>
            <li>
            <i></i>
                <kendo-mobile-button class="km-primary km-large km-justified">SEND</kendo-mobile-button>
            </li>
        </kendo-mobile-list-view>
    </kendo-mobile-content>
</kendo-mobile-view>